<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DetectIPServ</servlet-name>
    <servlet-class>org.church.our.loving.http.DetectIPServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ForwardReqeust</servlet-name>
    <servlet-class>org.church.our.loving.http.ForwardRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetectIPServ</servlet-name>
    <url-pattern>/serv/updateips</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForwardReqeust</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SendMail</display-name>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>org.church.our.loving.http.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
</web-app>